extends layout

block content
  //- date picker
  link(rel="stylesheet", href="/stylesheets/bootstrap-datepicker3.min.css")
  script(src="/javascript/bootstrap-datepicker.min.js")

  link(rel="stylesheet", href="/stylesheets/queue_order.css")
  script(src="/javascript/queue_order.js")

  .container
    .row
      button#addorder.btn.btn-success.ctrl
        span.glyphicon.glyphicon-plus(aria-hidden='true')
        |   新增訂單
      select.form-control.sortCtrl
        option(value="none") 無
        option(value="startTime") 訂單日期
        option(value="endTime") 出車日期
        option(value="customer") 經銷商名稱

  - for( var i = 0 ; i < data.length ; i++)
    - var order = data[i]
    - var orderId = order.oid
    - var uid = { 'data-uid': order._id.toString() };
    .order-wrapper(data-orderID= orderId )&attributes(uid)
      .table-wrapper
        table.table
          thead
            tr
              th 訂單編號
              th 經銷商
              th 經銷商地址
              th 聯絡電話
              th 採購人員
              th 接單人員
              th 數量合計
              th 訂購日期
              th 出車日期
              th 狀態
              th
          tbody
            tr
              td= orderId
              td(data-ctrl="customer", style='width: 100px')= order.cName
              td= order.cAddress
              td= order.cPhone
              td= order.cWho
              td(data-ctrl='em', style='width: 120px')= order.usWho
              td(data-ctrl="num")= order.count
              td(data-ctrl='date', style='width: 150px')= order.orderDate
                //- input.datepicker(data-date-format='mm/dd/yyyy').form-control(type='text')
              td(data-ctrl='date', style='width: 150px')= order.outputDate
                //- input.datepicker(data-date-format='mm/dd/yyyy').form-control(type='text')
              td
                button.btn.btn-success= order.status
              td(style='width: 130px')
                button.predelete.btn.btn-danger.ctrl(type='button', data-toggle='modal', data-target='#delDialog' )&attributes(uid)
                  span.glyphicon.glyphicon-trash(aria-hidden='true')
                button.btn.btn-warning.ctrl.edit(data-orderID= orderId, data-onEdit='0')
                  span.glyphicon.glyphicon-pencil(aria-hidden='true')
                a(href="/print/order/?id=" + orderId).btn.btn-primary.ctrl
                  span.glyphicon.glyphicon-print(aria-hidden='true')
                button.btn.btn-success.ctrl(type='button', data-toggle='modal', data-target='#finishDialog')
                  span.glyphicon.glyphicon-ok(aria-hidden='true')
      .table-wrapper-item(data-id=orderId)
        table.table.table-hover
          thead
            tr
              th 產品編號/規格
              th 數量
              th 狀態
              th 備註
              th 排程時間
              th 產線
          tbody
            - for( var j = 0 ; j < order.jobs.length ; j++)
              - var job = order.jobs[j]
              tr
                td(data-ctrl="product"  style='width: 300px')= job.pid
                td(data-ctrl="num")= job.count
                td(data-status="yes")
                  label.label.label-primary= job.status
                td(data-ctrl="text")= job.note
                td(data-ctrl="date")= job.todoTime
                td(data-ctrl="line")= job.line

        button.btn.btn-info.ctrl.addItem(data-id=orderId)
          span.glyphicon.glyphicon-plus(aria-hidden='true')
          |     訂單增補

  //- Dialog
  #delDialog.modal.fade
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 提醒您
        .modal-body
          p 是否要刪除該筆訂單?
          P 刪除後員工將無法預覽。
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.delete.btn.btn-danger(type='button') 刪除
  #finishDialog.modal.fade
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 提醒您
        .modal-body
          p 請確認訂單是否已經結案？
          p 訂單結案後將不會出現在佇列中。
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-success(type='button') 結案並且隱藏