extends layout

block content
  //- date picker
  link(rel="stylesheet", href="/stylesheets/bootstrap-datepicker3.min.css")
  link(rel="stylesheet", href="/stylesheets/queue_order.css")

  script(src="/javascript/bootstrap-datepicker.min.js")
  script(src="/javascript/queue_order.js")
  script(src="/javascript/queue_order_status.js")

  .container
    .row
      button#addorder.btn.btn-success.ctrl
        span.glyphicon.glyphicon-plus(aria-hidden='true')
        |   新增訂單
      select#sort.form-control.sortCtrl
        - var sortlist = [ { val: 'none', text: '無排序'}, { val: 'startTime', text: '訂購日期'}, { val: 'endTime', text: '出車日期'}, { val: 'customer', text: '經銷商名稱'} ]
        - for( var s = 0; s < sortlist.length; s++)
          - if( sortlist[s].val == sort )
            option(value=sortlist[s].val, selected)= sortlist[s].text
          -else
            option(value=sortlist[s].val)= sortlist[s].text


  - for( var i = 0 ; i < data.length ; i++)
    - var order = data[i]
    - var orderId = order.oid
    - var uid = { 'data-uid': order._id.toString() };
    .order-wrapper(data-orderID= orderId )&attributes(uid)
      .table-wrapper
        table.table
          thead
            tr
              th 訂單編號
              th 經銷商
              th 經銷商地址
              th 聯絡電話
              th 採購人員
              th 接單人員
              //- th 數量合計
              th 訂購日期
              th 出車日期
              th 狀態
              th
          tbody
            tr
              td= orderId
              td(data-ctrl="customer", style='width: 100px')= order.cName
              td= order.cAddress
              td= order.cPhone
              td= order.cWho
              td(data-ctrl='em', style='width: 120px')= order.usWho
              //- td= order.count
              td(data-ctrl='date', style='width: 150px')= order.orderDate
                //- input.datepicker(data-date-format='mm/dd/yyyy').form-control(type='text')
              td(data-ctrl='date', style='width: 150px')= order.outputDate
                //- input.datepicker(data-date-format='mm/dd/yyyy').form-control(type='text')
              td
                - if(order.status == '已結案')
                  button.status.btn.btn-success&attributes(uid)= order.status
                - else if(order.status == '已出貨')
                  button.status.btn.btn-primary&attributes(uid)= order.status
                - else if(order.status == '尚未出貨')
                  button.status.btn.btn-info&attributes(uid)= order.status
                - else if(order.status == '尚未完成')
                  button.status.btn.btn-warning&attributes(uid)= order.status
                - else if(order.status == '訂單取消')
                  button.status.btn.btn-danger&attributes(uid)= order.status
                - else
                  button.status.btn.btn-default&attributes(uid) 尚未設定
              td(style='width: 130px')
                button.predelete.btn.btn-danger.ctrl(type='button', data-toggle='modal', data-target='#delDialog' )&attributes(uid)
                  span.glyphicon.glyphicon-trash(aria-hidden='true')
                button.btn.btn-warning.ctrl.edit(data-orderID= orderId, data-onEdit='0')
                  span.glyphicon.glyphicon-pencil(aria-hidden='true')
                button.btn.btn-success.ctrl.finishOrder(type='button')&attributes(uid)
                  span.glyphicon.glyphicon-ok(aria-hidden='true')
      .table-wrapper-item(data-id=orderId)
        table.table.table-hover
          thead
            tr
              th 產品編號/規格
              th 數量
              th 配備電池
              //- th 狀態
              th 備註
              //- th 排程時間
              th.hide 產線
          tbody
            - for( var j = 0 ; j < order.jobs.length ; j++)
              - var job = order.jobs[j]
              tr(data-job=job._id)
                td(data-ctrl="product"  style='width: 300px')
                  = job.pid + '/'+ job.pSpec
                  //- + '/' + job.carType
                td(data-ctrl="num")= job.count
                td(data-ctrl="battery")= job.battery
                //- td(data-status="yes")
                  label.label.label-primary= job.status
                td(data-ctrl="text")= job.note
                //- td(data-ctrl="date")= job.todoTime
                td.hide(data-ctrl="line")= job.line

        button.btn.btn-info.ctrl.addItem(data-id=orderId)
          span.glyphicon.glyphicon-plus(aria-hidden='true')
          |     訂單增補

  //- Dialog
  #delDialog.modal.fade
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 提醒您
        .modal-body
          p 是否要刪除該筆訂單?
          P 刪除後員工將無法預覽。
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.delete.btn.btn-danger(type='button') 刪除
  #finishDialog.modal.fade
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 提醒您
        .modal-body
          p 請確認訂單是否已經結案？
          p 訂單結案後將不會出現在佇列中。
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button#finishOrder.btn.btn-success(type='button') 結案並且隱藏
  #statusDialog.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 訂單狀況選擇
        .modal-body
          p
            button.statusChoose.btn.btn-success(style="width: 100%", data-value='已結案') 已結案
          p
            button.statusChoose.btn.btn-primary(style="width: 100%", data-value='已出貨') 已出貨
          p
            button.statusChoose.btn.btn-info(style="width: 100%", data-value='尚未出貨') 尚未出貨
          p
            button.statusChoose.btn.btn-warning(style="width: 100%", data-value='尚未完成') 尚未完成
          p
            button.statusChoose.btn.btn-danger(style="width: 100%", data-value='訂單取消') 訂單取消
          p
            button.statusChoose.btn.btn-default(style="width: 100%", data-value='無狀態') 無狀態
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close