extends layout

block content
  link(rel="stylesheet", href="stylesheets/queue_factory.css")
  script(src="javascript/queue_factory.js")
  script(src="javascript/queue_factory_cal.js")
  script(src="javascript/queue_factory_drag.js")

  #newJobTable.thumbnail.lineName
    button.btn.btn-success 新增到今日
    div(data-ctrl="product")
    div(data-ctrl="battery")
    div(data-ctrl="text" placeHolder="備註")

  #deleteJobTable.thumbnail.lineName.star(ondragover="allowDrop(event)" ondrop="drop(event)")
      
  .screen
    .wrapper
      - var lineCount = lineData.length;
      //-  left title , line data
      .day
        .thumbnail.dayTitle
          h4 產線訂單佇列表
          br
        .line
          br
          //- line info data
          .thumbnail.lineName
            h4= '產線：' + lineData[0].name
            p
              = lineData[0].who
              br
              = lineData[0].phone


      - var d = new Date()
      - var index = 0; //- index is using on change day
      - for( var day = 0; day < 3 + 1; day++ )
        .day
          - var time = ( Math.round(d / 86400000) + day )  * 100;
          - if(day == 3 ) { time = 0; }
          .thumbnail.dayTitle
            - if( day != 3 )
              h4= d.getFullYear() + ' / ' + (d.getMonth() + 1) + ' / ' + ( d.getUTCDate() + day )
              form.form-inline
                .form-group
                  input(type="number" min="0" style="width:80px" data-time=time).form-control
                  button.doSort.btn.btn-success(data-time=time) 排程
            - else
              h4 尚未排程
          .thumbnail.cal

          //- show job
          .line(id='line'+line ondrop="drop(event)" ondragover="allowDrop(event)" data-time= time)
            - for( var j = 0; j < all.length; j++ )
              - var job = all[j];
              - job._id = job._id.toString()
              //- debug
              //- h1= index
              //- h4= job.time
              - if( job.time == time || ( day == 3 && job.time == 0) )
                - index++;
                - var id = 'line'+line+'job'+j;
                .thumbnail.job(id=id draggable="true" ondragstart="drag(event)" data-time=job.time data-oid=job._id data-status=job.status data-pro=job.pid+'/'+job.pSpec )
                  p
                    = job.pid
                    br
                    = job.pSpec
                    br
                    - if( job.order.outputDate )
                      = '出貨：' + job.order.outputDate
                      br
                      = '經銷商：' + job.order.cName
                    - else
                      = '預備製作用庫存'
                    br
                    = '備註：' + job.note
                    br
                    - var uid = { 'data-uid': job._id.toString() + job.time.toString() }
                    - if(job.status == '已結案')
                      button.status.btn.btn-sm.btn-success(data-id=id data-time=job.time data-oid=job._id data-status=job.status )&attributes(uid)= job.status
                    - else if(job.status == '已出貨')
                      button.status.btn.btn-sm.btn-primary(data-id=id  data-time=job.time data-oid=job._id data-status=job.status )&attributes(uid)= job.status
                    - else if(job.status == '尚未出貨')
                      button.status.btn.btn-sm.btn-info(data-id=id  data-time=job.time data-oid=job._id data-status=job.status )&attributes(uid)= job.status
                    - else if(job.status == '尚未完成')
                      button.status.btn.btn-sm.btn-warning(data-id=id  data-time=job.time data-oid=job._id data-status=job.status )&attributes(uid)= job.status
                    - else if(job.status == '訂單取消')
                      button.status.btn.btn-sm.btn-danger(data-id=id  data-time=job.time data-oid=job._id data-status=job.status )&attributes(uid)= job.status
                    - else
                      button.status.btn.btn-default(data-id=id  data-time=job.time data-oid=job._id data-status=job.status )&attributes(uid) 尚未設定
                    - var order = '<p>訂單編號：' + job.oid; //- '<br/>經銷商：' + job. + '<br/>訂單出車日期：2015/5/12</p>'


                    //- 測試用功能
                    //- span.info.glyphicon.glyphicon-tags.job-info( aria-hidden='true', tabindex='0', role='button', data-toggle='popover', data-trigger='click', title='訂單資訊', data-html="true", data-content=order)
              //- if( index >= all.length ) { index++; }

  #statusDialog.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 訂單狀況選擇
        .modal-body
          p
            button.statusChoose.btn.btn-success(style="width: 100%", data-value='已結案') 已結案
          p
            button.statusChoose.btn.btn-primary(style="width: 100%", data-value='已出貨') 已出貨
          p
            button.statusChoose.btn.btn-info(style="width: 100%", data-value='尚未出貨') 尚未出貨
          p
            button.statusChoose.btn.btn-warning(style="width: 100%", data-value='尚未完成') 尚未完成
          p
            button.statusChoose.btn.btn-danger(style="width: 100%", data-value='訂單取消') 訂單取消
          p
            button.statusChoose.btn.btn-default(style="width: 100%", data-value='無狀態') 無狀態
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

- function getTodayNum(){
-  let minutes = 1000 * 60;
-  let hours = minutes * 60;
-  let days = hours * 24;
-  let d = new Date();
-  let t= d.getTime();
-  return Math.round(t / 86400000); //與 差幾天  January 1, 1970.
- }
